body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

main {
    padding: 20px;
}

/* Estilo para h1 */
h1 {
    font-size: 36px; /* Tamaño de fuente grande */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centrar texto */
}

/* Estilo para h2 */
h2 {
    font-size: 24px; /* Tamaño de fuente grande */
    font-weight: bold; /* Negrita */
    width: 68%;
}

/* Estilo para h3 */
h3 {
    font-size: 18px; /* Tamaño de fuente mediano */
    font-weight: bold; /* Negrita */
    width: 68%;
}

/* Estilo para párrafos */
p {
    font-size: 18px; /* Tamaño de fuente mediano */
    line-height: 1.5; /* Altura de línea para mejorar la legibilidad */
    width: 145%;
}

/* Estilo para listas */
ul, ol {
    font-size: 18px; /* Tamaño de fuente mediano */
    line-height: 1.5; /* Altura de línea para mejorar la legibilidad */
    width: 68%;
}

/* Estilo para elementos de lista */
li {
    margin-bottom: 5px; /* Margen inferior para separar los elementos de la lista */
    width: 68%;
}

h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}

h8 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.fotter-text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
}

.back-button {
    position:  absolute;
    top: 40px;
    left: 40px;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 35px;
}

.download-button {
    position:  absolute;
    text-align: right;
    top: 40px;
    right: 40px;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 35px;
}

.derecha{
    float: right; /* Establece la imagen a la izquierda */
    width: 500px;
}

.izquierda {
    float: left; /* Hace que el texto flote a la izquierda */
    width: calc(100% - 850px); /* Resta el ancho de la imagen más el margen de la izquierda */
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

